<div class="wrapper_card">
  <mat-card  class="example-card" appearance="outlined" (click)="showMoreDetails(product.id)">
    <img mat-card-image [src]="product.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-actions>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-icon class="favorite"
        [ngClass]="{ like: isCardLike }"
        (click)="addToFavorite()">{{typeFavoriteIcon}}</mat-icon>
      </mat-card-actions>
      <p *ngIf="isMoreInformation">
       {{product.description}}
      </p>

      <mat-card-actions class="information">
        <p class="price">{{product.price| currency}}</p>
        <a href="" class="category">{{product.category}}</a>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</div>

<!-- <p>This is card</p> -->
