.wrapper_container {
  width: 100%;
  background-color: #ffffff;
}

.container {
  max-width: 1270px;
  margin: auto;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  font-size: 35px;
  color: #002F34;
}

@media (max-width: 576px) {
  h2 {
    font-size: 25px !important;
   margin-top: 0px !important;
   margin-bottom: 25px !important;
}

}
