<div class="wrapper_footer">
  <footer>
    <img src="{{imgLogo.url}}" alt="{{imgLogo.alt}}" width="100px">
    <p>
      OLX.pl these are free local classifieds for fashion, animals, kids, sports & hobbies, music & education. You will
      quickly find interesting ads here and easily contact the advertiser. Na OLX.pl office work, apartments, rooms,
      cars are waiting for you. If you want to sell something-you can easily add Free Classifieds. You want to buy
      something - here you will find interesting opportunities, cheaper than in the store. Sell in the neighborhood
      OLX.pl</p>
    <div class="block_soc">
      <h4>Join us:</h4>
      <div class="wrapper_soc">
        <a href="https://www.facebook.com/olx.polska" target="_blank">
          <img src="../../../assets/face_logo.png" alt="logo">
        </a>
        <a href="https://www.instagram.com/olxpolska" target="_blank">
          <img src="../../../assets/inst_logo.png" alt="logo">
        </a>
        <a href="https://www.youtube.com/channel/UCGr18y85p6zXQwBev6CGwow" target="_blank">
          <img src="../../../assets/you_logo.png" alt="logo">
        </a>
        <a href="https://www.linkedin.com/company/olxpraca/?originalSubdomain=pl" target="_blank">
          <img src="../../../assets/lin_logo.png" alt="logo">
        </a>
      </div>
    </div>
  </footer>
</div>
