.wrapper_footer {
  background-color: #CBF7EE;
  padding: 50px 15px;

  footer {
    max-width: 820px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #002F34;

    img {
      display: block;
      margin-bottom: 30px;
    }

    p {
      line-height: 1.6;
      font-weight: 400;
    }

    .block_soc {
      h4 {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .wrapper_soc {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 32px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .wrapper_footer {
    padding: 30px 15px;

    footer {
      img {
        margin-bottom: 15px;
      }
      p{
        margin-bottom: 0px;
      }
    }
  }


}
