:host {
  display: block;
  max-width: 1270px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 40px;

  h2 {
    margin-bottom: 30px;
  }

  .btn-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    border: 6px solid #002F34;
    transition: .3s;
    font-weight: 400;
    border-radius: 5px;
    background-color: #002F34;
    color: #ffffff;
    position: absolute;
    top: 15px;
    left: 10px;


    mat-icon {
      margin-left: 20px;
    }

  }

  .btn-logout:hover {
    background-color: #ffffff;
    color: #002F34;
  }

  .wrapper_product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }

  .del-user {
    color: #cccccc;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #cccccc;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;

    mat-icon {
      margin: auto;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
  }

  .del-user:hover {
    color: #cc3113;
    border-color: #cc3113;
  }

}
