<ng-container *ngIf="activeUser$ | async as userState">

  <h2 *ngIf="userState.isLoggedIn">
    Hello {{ userState.user.name | uppercase}}!
  </h2>

  <ng-container *ngIf="userAds$ | async as userAds">
    <p *ngIf="userAds.totalAds.length>0; else noAds">This is your active
      {{userAds.totalAds.length>1?"announcements":"announcement"}}!</p>
  </ng-container>

  <ng-template #noAds>
    <p>You have no active announcements yet.</p>
  </ng-template>

  <app-products [userAdsId]="userAdsId"></app-products>

</ng-container>

<button type="submit" class="btn-logout" (click)="logOut()">
  Log out
  <mat-icon>logout</mat-icon>
</button>