<h2 mat-dialog-title>DETAILS-</h2>
<mat-dialog-content>
  <div class="wrapper_card">

    <mat-spinner *ngIf="isDisabled" class="spinner"></mat-spinner>
    <app-card [product]="product" [isMoreInformation]="true">
    </app-card>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <ng-container *ngIf="isUserAd; else elseTemplate">
    <button class="btn-delete"
    (click)="deleteProduct(product.id)"
    >Delete ad</button>
  </ng-container>

  <ng-template #elseTemplate>
    <button *ngIf="isUserLogged" [ngClass]="{ 'isDisabled': isDisabled }"
      (click)="toggleCartItem(product.id)">{{!isAddToCart? 'Add to cart' : 'Remove cart'}}
    </button>
  </ng-template>



  <button mat-dialog-close>Close</button>
</mat-dialog-actions>
