<div class="wrapper_header">
  <header>
    <div class="block_header">
      <img (click)="openMainPage()" src="{{ imgLogo.url }}" alt="{{ imgLogo.alt }}" width="80px" />
    </div>
    <div class="block_header">
      <nav>
        <ul>
          <li *ngIf="activeUser$ | async as user">
            <a href="">
              <mat-icon>chat_bubble_outline</mat-icon>
              Notification</a>
          </li>
          <li *ngIf="activeUser$ | async as user">
            <a href=""><mat-icon class="iconFavorite">favorite_border</mat-icon></a>
          </li>

          <li *ngIf="activeUser$ | async as user; else loggedOut">
            <a href="user">
              <mat-icon>perm_identity</mat-icon>
              {{ user.name }}
            </a>
          </li>

          <ng-template #loggedOut>

          <li>
            <a href="login">
              <mat-icon>perm_identity</mat-icon>
              Login</a>
          </li>
        </ng-template>

          <li><button type="submit" (click)="submitAds()" class="navSubmit">Submit ads</button></li>
        </ul>
      </nav>
    </div>
  </header>
</div>


