<div class="wrapper_header">
  <header>
    <div class="block_header">
      <img (click)="openMainPage()" src="{{ imgLogo.url }}" alt="{{ imgLogo.alt }}" width="80px" />
    </div>
    <div class="block_header">
      <nav>
        <ul *ngIf="activeUser$ | async as userState">
          <li *ngIf="userState.isLoggedIn" class="user-actions">
            <a [routerLink]="['/user', userState.user.id, 'cart']">
              <mat-icon>shopping_cart_checkout</mat-icon>
              Cart</a>
            <span *ngIf="totalUserCart">{{totalUserCart}}</span>
          </li>
          <li *ngIf="userState.isLoggedIn" class="user-actions">
            <a [routerLink]="['/user', userState.user.id, 'favorites']"><mat-icon
                class="iconFavorite">favorite_border</mat-icon></a>
            <span *ngIf="totalFavorites>0">{{totalFavorites}}</span>
          </li>

          <ng-container *ngIf="userState?.isLoggedIn; else loggedOut">
            <li *ngIf="userState.isLoggedIn" class="user-actions">
              <a [routerLink]="['/user', userState.user.id]">
                <mat-icon>perm_identity</mat-icon>
                <span *ngIf="totalOwnAds>0">{{totalOwnAds}}</span>
                {{ userState.user.name }}
              </a>
            </li>
          </ng-container>

          <ng-template #loggedOut>
            <li>
              <a href="login">
                <mat-icon>perm_identity</mat-icon>
                Login</a>
            </li>
          </ng-template>

          <li><button type="submit" (click)="submitAds()" class="navSubmit">Add ads</button></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
