<div class="wrapper_products">

  @if (isSpinnerActive) {
  <mat-progress-bar mode="buffer" class="spinner"></mat-progress-bar>
  }

  <app-card *ngFor="let product of pagedProducts" [product]="product" (showDetails)="showMoreDetails($event)">
  </app-card>


</div>

<!-- <mat-paginator *ngIf="pagedProducts.length>0" -->
<mat-paginator
class="paginator"
[length]="products.length"
[pageSize]="pageSize"
[hidePageSize]="hidePageSize"
[showFirstLastButtons]="showFirstLastButtons"
  (page)="onPageChange($event)">
</mat-paginator>
