:host {
  display: block;
  margin-bottom: 65px;

  .wrapper_products {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .spinner {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
    }

    app-card {
      width: 25%;
    }
  }


  ::ng-deep .mat-mdc-paginator {
    padding: 0 10px;
    color: #002F34;
    font-size: 14px;

    .mat-mdc-paginator-range-actions {
      margin: auto;
    }
  }
}

@media (max-width: 993px) {
  app-card {
    width: 33.33% !important;
  }

  @media (max-width: 769px) {
    app-card {
      width: 50% !important;
    }

    @media (max-width: 567px) {
      .wrapper_products {
        justify-content: center;

        app-card {
          min-width: 310px !important;
        }
      }

      ::ng-deep .mat-mdc-paginator-range-label {
        width: 100% !important;
        margin: 0 !important;
        font-size: 12px !important;
      }

    }

  }

}
