:host{
  display: block;
  max-width: 1270px;
  margin: auto;
  text-align: center;
  position: relative;
  margin-top: 40px;

  .wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
