<div class="wrapper_form">
  <form action="" [formGroup]="searchProductsForm">
    
    <div class="wrapper_input">
      <div class="wrapper_find">
        <label for="find"><mat-icon>search</mat-icon></label>
        <input type="text" name="search" class="find" placeholder="Ex. Iphone 15" formControlName="formDataFind">
      </div>
      <div class="wrapper_city">
        <label for="city"><mat-icon>pin_drop</mat-icon></label>
        <input type="text" name="city" class="city" placeholder="Ex. Warsaw" formControlName="formDataCity">
      </div>
    </div>

    <button type="submit" (click)="submit($event)">
      Find
      <mat-icon>search</mat-icon>
    </button>

  </form>
</div>
