<!-- <button type="submit"  class="btn-login registration">
  Registration
  <mat-icon>app_registration</mat-icon>
</button>

<button type="submit"  class="btn-login login">
  login
  <mat-icon>login</mat-icon>
</button> -->

<div class="wrapper-tittle">
  <h3>or</h3>
</div>


<mat-tab-group class="log" animationDuration="0ms">

  <mat-tab  label="Log in">
    <app-login></app-login>
  </mat-tab>

  <mat-tab  label="Registration">
    <app-registration></app-registration>
  </mat-tab>

</mat-tab-group>

